body {
	font-family: "Roboto", serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f4f4f4;
}

.container {
	background-color: white;
	padding: 2rem;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	max-width: 400px;
	width: 100%;
}

.form-container {
	margin-top: 2rem;
}

.relative .form-container{
	margin-top: 1em;
}
.absolute.inset-0.w-full.h-full {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}