.d-none{
	display: none;
}
.error-message {
    color: red;
}

::-webkit-scrollbar {
    width: 0px;
    background: semi-transparent;
    scrollbar-gutter: stable;
}

body {
    background-color: #f4f4f4;
}

h1:hover {
	cursor:default;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

select:hover, select:focus {
	cursor:pointer;
}